<{include file="header.html"}>
<{include file="header_sub.html"}>
<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li class="active">404 页面</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			页面不存在
		</h2>
	<!-- Main Heading Ends -->
	<!-- Content Starts -->
		<div class="content-box text-center">
			<h4 class="special-heading">抱歉 !</h4>
			<h5>
				你要访问的页面不存在！
			</h5>
			<br />
			<p>
				<a href="index.html" class="btn btn-black text-uppercase">返回主页</a>
			</p>
		</div>
	<!-- Content Ends -->
	</div>
<!-- Main Container Ends -->
<{include file="footer.html"}>