<!-- Footer Section Starts -->
	<footer id="footer-area">
	<!-- Footer Links Starts -->
		<div class="footer-links">
		<!-- Container Starts -->
			<div class="container">
				<!-- Information Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>咨询我们</h5>
						<ul>
							<li><a href="about.html">关于我们</a></li>
							<li><a href="#">传递信息</a></li>
							<li><a href="#">隐私政策</a></li>
							<li><a href="#">条款及条件</a></li>
						</ul>
					</div>
				<!-- Information Links Ends -->
				<!-- My Account Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>我的账户</h5>
						<ul>
							<li><a href="#">我预定的商品</a></li>
							<li><a href="#">我的退货</a></li>
							<li><a href="#">我的信用卡</a></li>
							<li><a href="#">我的地址</a></li>
							<li><a href="#">我的个人信息</a></li>
						</ul>
					</div>
				<!-- My Account Links Ends -->
				<!-- Clearfix Spacer Starts -->
					<div class="clearfix visible-sm"></div>
				<!-- Clearfix Spacer Ends -->
				<!-- Customer Service Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>服务中心</h5>
						<ul>
							<li><a href="contact.html">联系我们</a></li>
							<li><a href="#">退换商品</a></li>
							<li><a href="#">网站地图</a></li>
							<li><a href="#">关联公司</a></li>
							<li><a href="#">特价</a></li>
						</ul>
					</div>
				<!-- Customer Service Links Ends -->
				<!-- Follow Us Links Starts -->
					<div class="col-md-2 col-sm-6">
						<h5>跟随我们</h5>
						<ul>
							<li><a href="#">新浪</a></li>
							<li><a href="#">百度</a></li>
							<li><a href="#">腾讯</a></li>
							<li><a href="#">搜狗</a></li>
						</ul>
					</div>
				<!-- Follow Us Links Ends -->
				<!-- Contact Us Starts -->
					<div class="col-md-4 col-sm-12 last">
						<h5>联系我们</h5>
						<ul>
							<li>云南农年科技有限公司</li>
							<li>
								昆明市盘龙区鑫世界A座2309
							</li>
							<li>
								Email: <a href="#">xninfo@163.com</a>
							</li>								
						</ul>
						<h4 class="lead">
							Tel: <span>13888392022</span>
						</h4>
					</div>
				<!-- Contact Us Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Footer Links Ends -->
	<!-- Copyright Area Starts -->
		<div class="copyright">
		<!-- Container Starts -->
			<div class="container">
			<!-- Starts -->
				<p class="pull-left">
					&copy; 2016 农年科技电商系统. 技术支持<a href="http://sainathchillapuram.com">云南农年科技有限公司</a>
				</p>
			<!-- Ends -->
			<!-- Payment Gateway Links Starts -->
				<ul class="pull-right list-inline">
					<li>
						<img src="<{$smarty.const.IMG_PATH}>payment-icon/cirrus.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="<{$smarty.const.IMG_PATH}>payment-icon/paypal.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="<{$smarty.const.IMG_PATH}>payment-icon/visa.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="<{$smarty.const.IMG_PATH}>payment-icon/mastercard.png" alt="PaymentGateway" />
					</li>
					<li>
						<img src="<{$smarty.const.IMG_PATH}>payment-icon/americanexpress.png" alt="PaymentGateway" />
					</li>
				</ul>
			<!-- Payment Gateway Links Ends -->
			</div>
		<!-- Container Ends -->
		</div>
	<!-- Copyright Area Ends -->
	</footer>
<!-- Footer Section Ends -->
<!-- JavaScript Files -->
<script src="<{$smarty.const.JS_PATH}>jquery-1.11.1.min.js"></script>
<script src="<{$smarty.const.JS_PATH}>jquery-migrate-1.2.1.min.js"></script>	
<script src="<{$smarty.const.JS_PATH}>bootstrap.min.js"></script>
<script src="<{$smarty.const.JS_PATH}>bootstrap-hover-dropdown.min.js"></script>
<script src="<{$smarty.const.JS_PATH}>jquery.magnific-popup.min.js"></script>
<script src="<{$smarty.const.JS_PATH}>owl.carousel.min.js"></script>
<script src="<{$smarty.const.JS_PATH}>custom.js"></script>
</body>
</html>