<!-- Main Menu Starts -->
	<nav id="main-menu" class="navbar" role="navigation">
		<div class="container">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
				<li><a href="<{$site_url}>">首页</a></li>
					<li class="dropdown">
						<a href="<{spUrl c="category" a="list"}>" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品分类测试
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="<{spUrl c="category" a="list"}>">商品1</a></li>
							<li><a tabindex="-1" href="<{spUrl c="category" a="grid"}>">商品grid</a></li>			
						</ul>
					</li>
					<li class="dropdown">
						<a href="<{spUrl c="user" a="index"}>" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							用户中心&lt;测试&gt;
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="<{spUrl c="user" a="list"}>">用户列表（已重写）</a></li>
							<li><a tabindex="-1" href="<{spUrl c="user" a="list" q="guhnge" page="3" status="9" keywords="这是中文参数"}>">通配带常规参数</a></li>
							<li><a tabindex="-1" href="<{spUrl c="user" a="getall" q="guhnge" page="3" status="9" keywords="这是中文参数"}>">不通配带常规参数</a></li>
							<li><a tabindex="-1" href="<{spUrl c="user" a="list" q="guhnge" page="3"}>?num=666&who=guhungea&two=wangguang&key=中文呀呀">通配带问号参数</a></li>
							<li><a tabindex="-1" href="<{spUrl c="user" a="getall" q="guhnge" page="3"}>?num=666&who=guhungea&two=wangguang&key=中文呀呀">不通配带问号参数</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							新闻列表
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="<{spUrl c='article'}>">列表</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品四
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品五
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品六 
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品七
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							商品八
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>
					
			<li class="dropdown">
				<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
					商品九
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a tabindex="-1" href="index.html">商品1</a></li>
					<li><a tabindex="-1" href="about.html">商品2</a></li>
					
				</ul>
			</li>

			<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							行业新闻
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							产品介绍
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							关于我们
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="<{spUrl c='guestbook' a='add' n=1 p=2}>" class="dropdown-toggle" data-hover="dropdown" data-delay="10">
							留言
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="<{spUrl c='guestbook'}>">留言簿</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>
				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</div>
	</nav>
<!-- Main Menu Ends -->