<!doctype html>
<html lang="zh-cn">
<head>

	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="<{$keywords}>"/>
	<meta name="description" content="<{$description}>">
	<meta name="author" content="<{$author}>">
	<title><{$show_title}></title>
	
	<!-- Bootstrap Core CSS -->
	<link href="<{$smarty.const.CSS_PATH}>bootstrap.min.css" rel="stylesheet">
	
	<!-- Google Web Fonts -->
	<link href="http://fonts.useso.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400" rel="stylesheet" type="text/css">
	
	<!-- CSS Files -->
	<link href="<{$smarty.const.SKIN_PATH}>font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="<{$smarty.const.CSS_PATH}>owl.carousel.css" rel="stylesheet">
	<link href="<{$smarty.const.CSS_PATH}>style.css" rel="stylesheet">
	<link href="<{$smarty.const.CSS_PATH}>responsive.css" rel="stylesheet">
	
	<!--[if lt IE 9]>
		<script src="<{$smarty.const.JS_PATH}>ie8-responsive-file-warning.js"></script>
	<![endif]-->
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<{$smarty.const.IMG_PATH}>fav-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<{$smarty.const.IMG_PATH}>fav-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<{$smarty.const.IMG_PATH}>fav-72.png">
	<link rel="apple-touch-icon-precomposed" href="<{$smarty.const.IMG_PATH}>fav-57.png">
	<link rel="shortcut icon" href="<{$smarty.const.IMG_PATH}>fav.png">
	<script type="text/javascript" src="<{$smarty.const.SKIN_PATH}>js/common.js"></script>
	
</head>
<body>
<!-- Header Section Starts -->
	<header id="header-area">
	<!-- Nested Container Starts -->
		<div class="container">
		<!-- Header Top Starts -->
			<div class="header-top text-uppercase">
				<div class="row">
				<!-- Header Links Starts -->
					<div class="col-sm-5 col-xs-12">
						<div class="header-links">
							<ul class="nav navbar-nav">
								<li>
									<a href="<{$site_url}>">
										<i class="fa fa-home hidden-lg hidden-md" title="Home"></i>
										<span class="hidden-sm hidden-xs">
											首页
										</span>
									</a>
								</li>
								<li>
									<a href="<{spUrl c="order"}>">	
										<i class="fa fa-heart hidden-lg hidden-md" title="Wish List"></i>
										<span class="hidden-sm hidden-xs">
											列表清单 (0)
										</span>
									</a>
								</li>
								<li>
									<a href="<{spUrl c="user"}>">
										<i class="fa fa-user hidden-lg hidden-md" title="My Account"></i>
										<span class="hidden-sm hidden-xs">
											我的账户
										</span>
									</a>
								</li>
								<li>
									<a href="<{spUrl c="user" a="login"}>">
										<i class="fa fa-lock hidden-lg hidden-md" title="Login"></i>
										<span class="hidden-sm hidden-xs">
											登录
										</span>
									</a>
								</li>
								<li>
									<a href="<{spUrl c="user" a="register"}>">
										<i class="fa fa-unlock hidden-lg hidden-md" title="Register"></i>
										<span class="hidden-sm hidden-xs">
											注册
										</span>
									</a>
								</li>								
							</ul>
						</div>
					</div>
				<!-- Header Links Ends -->
					<div class="col-sm-3 col-xs-12 hidden-md hidden-sm hidden-xs text-center msg">
						<span>欢迎光临农年科技电商中心</span>
					</div>
				<!-- Currency & Languages Starts -->
					<div class="col-lg-4 col-sm-7 col-xs-12 text-right">
					<!-- Languages Starts -->
						<div class="btn-group">
							<button class="btn btn-link dropdown-toggle text-uppercase" data-toggle="dropdown">
								语言: <span>中文</span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="pull-right dropdown-menu">
								<li>
									<a tabindex="-1" href="#">中文</a>
								</li>
								<li>
									<a tabindex="-1" href="#">英文</a>
								</li>
							</ul>
						</div>
					<!-- Languages Ends -->
					<!-- Currency Starts -->
						<div class="btn-group">
							<button class="btn btn-link dropdown-toggle text-uppercase" data-toggle="dropdown">
								货币: <span>人民币</span>
								<i class="fa fa-caret-down"></i>
							</button>
							<ul class="pull-right dropdown-menu">
								<li><a tabindex="-1" href="#">美元 </a></li>
								<li><a tabindex="-1" href="#">欧元</a></li>
							</ul>
						</div>
					<!-- Currency Ends -->
					</div>
				<!-- Currency & Languages Ends -->
				</div>
			</div>
		<!-- Header Top Ends -->
		<!-- Main Header Starts -->
			<div class="main-header">
				<div class="row">
				<!-- Logo Starts -->
					<div class="col-md-6 col-xs-12">
						<div id="logo">
							<a href="<{$site_url}>"><img src="<{$smarty.const.IMG_PATH}>logo.png" title="农年科技电商" alt="Mobile Shoppe" class="img-responsive" /></a>
						</div>
					</div>
				<!-- Logo Starts -->
				<!-- Search Starts -->
					<div class="col-md-3 col-xs-12">
						<div id="search">
							<div class="input-group">
							  <input type="text" class="form-control input-lg" placeholder="搜素">
							  <span class="input-group-btn">
								<button class="btn btn-lg" type="button">
									<i class="fa fa-search"></i>
								</button>
							  </span>
							</div>
						</div>	
					</div>
				<!-- Search Ends -->				
				<!-- Shopping Cart Starts -->
					<div class="col-md-3 col-xs-12">
						<div id="cart" class="btn-group btn-block">
							<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
								<i class="fa fa-shopping-cart"></i>
								<span class="hidden-md">购物车:</span> 
								<span id="cart-total">2 件 - ￥340.00</span>
								<i class="fa fa-angle-down"></i>
							</button>
							<ul class="dropdown-menu pull-right">
								<li>
									<table class="table hcart">
										<tr>
											<td class="text-center">
												<a href="<{spUrl c="product"}>">
													<img src="<{$smarty.const.IMG_PATH}>product-images/hcart-thumb1.jpg" alt="image" title="image" class="img-thumbnail img-responsive" />
												</a>
											</td>
											<td class="text-left">
												<a href="<{spUrl c="product" a="full"}>">
													电脑
												</a>
											</td>
											<td class="text-right">x 1</td>
											<td class="text-right">￥4200.68</td>
											<td class="text-center">
												<a href="#">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
										<tr>
											<td class="text-center">
												<a href="product.html">
													<img src="<{$smarty.const.IMG_PATH}>product-images/hcart-thumb2.jpg" alt="image" title="image" class="img-thumbnail img-responsive" />
												</a>
											</td>
											<td class="text-left">
												<a href="product-full.html">
													手机
												</a>
											</td>
											<td class="text-right">x 2</td>
											<td class="text-right">￥1240.00</td>
											<td class="text-center">
												<a href="#">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
									</table>
								</li>
								<li>
									<table class="table table-bordered total">
										<tbody>
											<tr>
												<td class="text-right"><strong>商品总价</strong></td>
												<td class="text-left">￥1,101.00</td>
											</tr>
											<tr>
												<td class="text-right"><strong>手续费 (-2.00)</strong></td>
												<td class="text-left">￥4.00</td>
											</tr>
											<tr>
												<td class="text-right"><strong>运费 (17.5%)</strong></td>
												<td class="text-left">￥192.68</td>
											</tr>
											<tr>
												<td class="text-right"><strong>合计</strong></td>
												<td class="text-left">￥1,297.68</td>
											</tr>
										</tbody>
									</table>
									<p class="text-right btn-block1">
										<a href="<{spUrl c="cart"}>">
											查看购物车
										</a>
										<a href="#">
											结账
										</a>
									</p>
								</li>									
							</ul>
						</div>
					</div>
				<!-- Shopping Cart Ends -->
				</div>
			</div>
		<!-- Main Header Ends -->
		</div>
	<!-- Nested Container Ends -->
	</header>
<!-- Header Section Ends -->