<!-- Main Menu Starts -->
	<nav id="main-menu" class="navbar" role="navigation">
		<div class="container">
		<!-- Nav Header Starts -->
			<div class="navbar-header">
				<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<i class="fa fa-bars"></i>
				</button>
			</div>
		<!-- Nav Header Ends -->
		<!-- Navbar Cat collapse Starts -->
			<div class="collapse navbar-collapse navbar-cat-collapse">
				<ul class="nav navbar-nav">
				<li><a href="category-list.html">首页</a></li>
					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品一
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>			
						</ul>
					</li>
					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品二
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品三
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品四
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品五
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品六 
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品七
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>

					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							商品八
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>
					
			<li class="dropdown">
				<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
					商品九
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a tabindex="-1" href="index.html">商品1</a></li>
					<li><a tabindex="-1" href="about.html">商品2</a></li>
					
				</ul>
			</li>

			<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							行业新闻
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							产品介绍
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							关于我们
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>


					<li class="dropdown">
						<a href="category-list.html" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="10">
							留言
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a tabindex="-1" href="#">商品1</a></li>
							<li><a tabindex="-1" href="#">商品2</a></li>
						
						</ul>
					</li>
				</ul>
			</div>
		<!-- Navbar Cat collapse Ends -->
		</div>
	</nav>
<!-- Main Menu Ends -->