<{include file="header.html"}>
<{include file="header_sub.html"}>
<!-- Main Container Starts -->
	<div id="main-container" class="container">
	<!-- Breadcrumb Starts -->
		<ol class="breadcrumb">
			<li><a href="index.html">首页</a></li>
			<li class="active">注册</li>
		</ol>
	<!-- Breadcrumb Ends -->
	<!-- Main Heading Starts -->
		<h2 class="main-heading text-center">
			登录或注册账户
		</h2>
	<!-- Main Heading Ends -->
	<!-- Login Form Section Starts -->
		<section class="login-area">
			<div class="row">
				<div class="col-sm-6">
				<!-- Login Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">登录</h3>
						</div>
						<div class="panel-body">
							<p>
								请登录你已有的账户
							</p>
						<!-- Login Form Starts -->
							<form class="form-inline" role="form" action="<{spUrl c="user" a="login"}>">
								<div class="form-group">
									<label class="sr-only" for="exampleInputEmail2">用户名</label>
									<input type="text" class="form-control" id="exampleInputEmail2" placeholder="用户名">
								</div>
								<div class="form-group">
									<label class="sr-only" for="exampleInputPassword2">密码</label>
									<input type="password" class="form-control" id="exampleInputPassword2" placeholder="密码">
								</div>
								<button type="submit" class="btn btn-black">
									登录
								</button>
							</form>
						<!-- Login Form Ends -->
						</div>
					</div>
				<!-- Login Panel Ends -->
				</div>
				<div class="col-sm-6">
				<!-- Account Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								注册账户
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Registration allows you to avoid filling in billing and shipping forms every time you checkout on this website
							</p>
							<a href="<{spUrl c="user" a="register"}>" class="btn btn-black">
								注册
							</a>
						</div>
					</div>
				<!-- Account Panel Ends -->
				<!-- Guest Checkout Panel Starts -->
					<div class="panel panel-smart">
						<div class="panel-heading">
							<h3 class="panel-title">
								游客结账
							</h3>
						</div>
						<div class="panel-body">
							<p>
								Checkout as a guest instead!
							</p>
							<button class="btn btn-black">游客</button>
						</div>
					</div>
				<!-- Guest Checkout Panel Ends -->
				</div>
			</div>
		</section>
	<!-- Login Form Section Ends -->
	</div>
<!-- Main Container Ends -->
<{include file="footer.html"}>