<!DOCTYPE html>
<html lang="en">
<head>
<title>{$page_title} - 管理后台</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{$CSS_PATH}bootstrap.min.css" />
<link rel="stylesheet" href="{$CSS_PATH}bootstrap-responsive.min.css" />
<link rel="stylesheet" href="{$CSS_PATH}matrix-style.css" />
<link rel="stylesheet" href="{$CSS_PATH}matrix-media.css" />
<link href="{$TPL_PATH}font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="返回主页" class="tip-bottom"><i class="icon-home"></i> 主页</a> <a href="#">Sample pages</a> <a href="#" class="current">错误</a> </div>
    <h1>Error 404</h1>
  </div>
  <div class="container-fluid">
  {if $smarty.const.IS_DEBUG==TRUE}
      {php}
      $tpl_vars = $GLOBALS['G_SP']['inst_class']['spView']->engine->tpl_vars;
      extract($tpl_vars['params']->value);
      //print_r($tpl_vars['params']->value);
      echo '<h2>'.$__controller.'-> '.$__action.'</h2>';
      spError("404错误  ".$__controller." -> ".$__action,TRUE,FALSE);
      {/php}
  {else}
  <!-- normal error information -->
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-info-sign"></i> </span>
            <h5>Error 404</h5>
          </div>
          <div class="widget-content">
            <div class="error_ex">
              <h1>404</h1>
              <h3>Oh，{$page_title}.</h3>
              <p>你要查找的页面不存在.</p>
              <a class="btn btn-warning btn-big"  href="/{$ADMIN_ROOT}">返回管理中心</a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- error information end -->
    {/if}
  </div>
</div>
<!--Footer-part-->
<!--
<div class="row-fluid">
  <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in/">Themedesigner.in</a> </div>
</div>-->
<!--end-Footer-part-->
<script src="{$JS_PATH}jquery.min.js"></script> 
<script src="{$JS_PATH}jquery.ui.custom.js"></script> 
<script src="{$JS_PATH}bootstrap.min.js"></script> 
<script src="{$JS_PATH}maruti.html"></script>
</body>
</html>
