<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8"/>
        <title>{if $title}{$title}{else}{$page_title}-{$site_name}{/if}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="renderer" content="webkit"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}bootstrap.min.css" />
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}fullcalendar.css" />
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}matrix-style.css" />
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}matrix-media.css" />
        <link rel="stylesheet" href="{$smarty.const.TPL_PATH}font-awesome/css/font-awesome.css"/>
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}jquery.gritter.css" />
{foreach from=$addCss item=css}
        <link rel="stylesheet" href="{$smarty.const.CSS_PATH}{$css}" />
{/foreach}
        <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'/>
        <script type="text/javascript" src="{$smarty.const.JS_PATH}jquery.min.js"></script> 
        <script type="text/javascript">
        $(document).ready(function(){
            if(typeof window.__setNavStatus!="undefined" && window.__setNavStatus.constructor==Function){
               window.__setNavStatus.call(null);
            }else{
               $('li[relctl="{$__controller}"]').eq(0).addClass('open');
               $('li[relctl="{$__controller}"]').find('a[relact="{$__action}"]').addClass('nav_active');
            }
        });
        </script>
    </head>
<body>
<!--Header-part-->
<div id="header">
  <h1><a href="{spUrl c="main"}">{$site_name}管理中心</a></h1>
</div>
<!--close-Header-part--> 
        