<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}bootstrap.min.css" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}bootstrap-responsive.min.css" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}fullcalendar.css" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}matrix-style.css" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}matrix-media.css" />
<link href="{$smarty.const.TPL_PATH}font-awesome/css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" href="{$smarty.const.CSS_PATH}/jquery.gritter.css" />
<link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    </head>
    <frameset rows="90,*">
    <frame src="{spUrl c='main' a='fetch_tpl' pos='top'}" />
    <frameset cols="160,*">
    <frame src="{spUrl c='main' a='fetch_tpl' pos='left'}" />
    <frame src="{spUrl c='main' a='fetch_tpl' pos='center'}" />
    </frameset>
    <noframes>
<body>您的浏览器无法处理框架,请升级你的浏览器！</body>
</noframes>
</frameset>
</html>