
<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
    <li  class="dropdown" id="profile-messages" ><a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">{L('welcome')} {$_username}</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="divider"></li>
        <li><a href="{spUrl c="user"}"><i class="icon-check"></i> {L('user_manage')}</a></li>
        <li class="divider"></li>
        <li><a href="{spUrl c="user" a="changepwd"}"><i class="icon-key"></i>{L('change_passwd')}</a></li>
        <li class="divider"></li>
        <li><a href="{spUrl c="user" a="logout"}"><i class="icon-key"></i>{L('exit')}</a></li>
      </ul>
    </li>
    <li class="dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">{L('messages')}</span> <span class="label label-important">5</span> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a class="sAdd" title="" href="#"><i class="icon-plus"></i> {L('new_message')}</a></li>
        <li class="divider"></li>
        <li><a class="sInbox" title="" href="#"><i class="icon-envelope"></i> {L('inbox')}</a></li>
        <li class="divider"></li>
        <li><a class="sOutbox" title="" href="#"><i class="icon-arrow-up"></i> {L('sendbox')}</a></li>
        <li class="divider"></li>
        <li><a class="sTrash" title="{L('trash')}" href="#"><i class="icon-trash"></i> {L('trash')}</a></li>
      </ul>
    </li>
    <li class=""><a title="{L('goods_manage')}" href="{spUrl c="goods" a="list"}"><i class="icon icon-cog"></i> <span class="text">{L('goods_manage')}</span></a></li>
    <li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">{L('order_manage')}</span></a></li>
    <li class=""><a title="{L('menu_set')}" href="{spUrl c="setting" a="menu"}"><i class="icon icon-share-alt"></i> <span class="text">{L('menu_set')}</span></a></li>
    <li class=""><a title="{L('member_manage')}" href="{spUrl c="user" a="list"}"><i class="icon icon-share-alt"></i> <span class="text">{L('member_manage')}</span></a></li>
    <li class=""><a title="" href="{spUrl c="setting" a="index"}"><i class="icon icon-share-alt"></i> <span class="text">{L('system_setting')}</span></a></li>
    <li class=""><a title="{L('menu_map')}" href="{spUrl c="main" a="map"}"><i class="icon icon-share-alt"></i> <span class="text">{L('menu_map')}</span></a></li>
    <li class=""><a title="" href="{spUrl c="setting" a="clear_all"}"><i class="icon icon-share-alt"></i> <span class="text">{L('clear_cache')}</span></a></li>
    <li class=""><a title="" href="{spUrl c="user" a="logout"}"><i class="icon icon-share-alt"></i> <span class="text">{L('exit')}</span></a></li>
  </ul>
</div>
<!--close-top-Header-menu-->
<!--start-top-serch-->
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->
<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i>电话</a>
  <ul>

    <li class="submenu" relctl="user"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('user_manage')}</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a relact="list" href="{spUrl c="user" a="list"}">{L('user_manage')}</a></li>
        <li><a relact="add" href="{spUrl c="user" a="add"}">{L('user_add')}</a></li>
        <li><a relact="group" href="{spUrl c="group" a="index"}">{L('user_group_manage')}</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('content_manage')}</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="{spUrl c="categrory" a="list"}">文章分类</a></li>
        <li><a href="{spUrl c="article" a="list"}">文章列表</a></li>
        <li><a href="{spUrl c="page" a="list"}">单页管理</a></li>
      </ul>
    </li>

     <li class="submenu" relctl="goods"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('goods_manage')}</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="{spUrl c="goods" a="list"}">{L('goods_list')}</a></li>
        <li><a href="{spUrl c="goods" a="add"}">添加商品</a></li>
        <li><a href="{spUrl c="goodscate" a="list"}">商品分类</a></li>
        <li><a href="form-wizard.html">物流配送</a></li>
        <li><a href="form-wizard.html">支付方式</a></li>
        <li><a href="form-wizard.html">库存管理</a></li>

      </ul>
    </li>

     <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('order_manage')}</span> <span class="label label-important">2</span></a>
      <ul>
        <li><a href="tables.html">订单列表</a></li>
        <li><a href="form-wizard.html">未支付订单</a></li>
        <li><a href="form-wizard.html">物流配送</a></li>
        <li><a href="form-wizard.html">支付方式</a></li>
        <li><a href="form-wizard.html">库存管理</a></li>
        <li><a href="form-wizard.html">统计图表</a></li>
        <li><a href="form-wizard.html">资金管理</a></li>
        <li><a href="form-wizard.html">图片批量上传</a></li>
      </ul>
    </li>

    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>模型管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="tables.html">模型管理</a></li>
        <li><a href="tables.html">新建模型</a></li>
      </ul>
    </li>

   <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('advertise_manage')}</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="form-validation.html">广告列表</a></li>
        <li><a href="form-common.html">广告位管理</a></li>
        <li><a href="form-common.html">广告代码</a></li>
      </ul>
    </li>
    <li class="submenu" relctl="setting"> <a href="#"><i class="icon icon-th-list"></i> <span>系统设置</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a relact="index" href="{spUrl c="setting" a="index"}">{L('website_setting')}</a></li>
        <li><a relact="secure" href="{spUrl c="setting" a="secure"}">{L('secure_setting')}</a></li>
        <li><a relact="config" href="{spUrl c="setting" a="config"}">{L('config_setting')}</a></li>
        <li><a relact="seo" href="{spUrl c="setting" a="seo"}">{L('seo_setting')}</a></li>
        <li><a relact="menu" href="{spUrl c="setting" a="menu"}">{L('menu_nav_set')}</a></li>
        <li><a relact="clear" href="{spUrl c="setting" a="clear"}">{L('clear_cache')}</a></li>
        <li><a relact="open" href="{spUrl c="setting" a="open"}">第三方登录</a></li>
      </ul>
    </li>
    <li relctl="cloud" class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>拓展及插件</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a relact="api_list" href="{spUrl c="api" a="list"}">API管理</a></li>
        <li><a href="form-validation.html">插件管理</a></li>
        <li><a href="form-wizard.html">定时任务</a></li>
        <li><a href="form-wizard.html">远程备份</a></li>
        <li><a href="{spUrl c="cloud" a="update"}">{L('online_update')}</a></li>
      </ul>
    </li>
    <li class="submenu" relctl="member"> <a href="#"><i class="icon icon-th-list"></i> <span>{L('member_manage')}</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a relact="index" href="{spUrl c="member" a="list"}">{L('member_list')}</a></li>
        <li><a href="{spUrl c="member" a="log"}">{L('member_login_log')}</a></li>
        <li><a href="form-wizard.html">用户管理</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>数据库管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="form-common.html">数据库备份</a></li>
        <li><a href="form-common.html">数据库恢复</a></li>
        <li><a href="form-common.html">数据库校验</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>模板管理</span> <span class="label label-important">3</span></a>
      <ul>
        <li><a href="form-common.html">模板选择</a></li>
        <li><a href="form-common.html">模板编辑</a></li>
        <li><a href="form-common.html">风格设置</a></li>
      </ul>
    </li>
    </li>
    <li class="submenu"> <a href="#"><i class="icon icon-info-sign"></i> <span>友情链接</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="error403.html">友情链接列表</a></li>
      </ul>
    </li>
    <li class="content"> <span>月宽带传输</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li class="content"> <span>磁盘占用比例</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 87%;" class="bar"></div>
      </div>
      <span class="percent">87%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li>
  </ul>
</div>
<!--sidebar-menu-->